<h1>Convert <%= @cur %></h1>

<p>Go <a href = "/forex">back</a></p>

<ul>
<% @res.each do |s| %>

<li><a href="/forex/<%= @cur +"/"+ s %>"><%= "Convert 1 " + s + " to..." %></a></li>

<% end %>

</ul>